body{
    background: rgb(85, 17, 17);
}
.tab{
    width: 50px;
    height: 50px;
    float: left;
    background-color: teal;
    border: 1px solid rgb(212, 84, 84);
}
.tab img{
    width: 100%;
}
.divv{
    width: 180px;
    height: 180px;
}
.reni{
    width: 10px;
}
.foto{
    width: 80px;
    height: 80px;
}